/* Nav page */

#metro{
color:white;
font-weight: 500px;
/* text-decoration: none; */

}
/* #nav-text {
    text-decoration: none;
  } */
/* nav page */


/* addtask page */
.back{
    background-color: rgb(218, 229, 235);
   height: 900px;
}

#add{

   background-color: black;
   color:white;
   height: 500px;
   width: 900px;
   font-size: 20px;
   font-weight: 200px;
    
    }

    /* addtask page */



   /* addsubtask page */ 
    #addsub{
        
   background-color: black;
   color:white;
   height: 700px;
   width: 900px;
   font-size: 20px;
   font-weight: 200px;
    }
/* addsubtask page */
#task{
    padding-top:40px ;
}


#view{
    color: white;
}
.link{
    text-decoration: none;
}
#holla{
    margin-right: 80px;
}



/* profile page */

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
    }
/* profile page */